<mat-toolbar>
    <span>Mango bike</span>
    <span class="spacer"></span>
    <div class="nav">
        <button mat-raised-button color="orange" target="_blank" routerLink="/login">Inicio</button>
        <a mat-raised-button color="orange">Archivos</a>
        <a mat-raised-button color="orange">Inventario</a>
        <a mat-raised-button color="orange">Transacciones</a>
        <a mat-raised-button color="orange">Terceros</a>
        <a mat-raised-button color="orange">Configuración</a>
    </div>
</mat-toolbar>