.spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    background-color: #E36D34;
    color: #FAFAF1;
}

.orange {
  color: #f0fff3;
  background-color: #155724;
}
  
.color {
    color: #19e642;
  background-color: #155724;
}

.save-button {
    background: green;
  }