<div class="div-login">
    <mat-card class="login-mat-card">
        <mat-card-title class="login-mat-card-title">
            Verifica tu correo
              <img src="../../../assets/images/LOGO_01-01.png" alt="logo" class="login-img">
        </mat-card-title>
        <mat-card-content class="login-card-content">
            <h3>Revisa tu bandeja de correo con el cual te registraste para verificar tu correo.</h3>
            <a routerLink="/login" class="login-a">Volver</a>
        </mat-card-content>
    </mat-card>
</div>