.mat-color {
    background-color: #E36D34;
    color: #FAFAF1;
}

.login-mat-card-title {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #E36D34;
}

.login-mat-form-field {
    width: 83%;
    padding-top: 15px;
}

.form-login {
    width: 100%;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-mat-card {
    width: 400px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAF1;
}

.login-card-content {
    width: 100%;
    text-align: center;
}

h3 {
    text-align: center;
}