<div class="div-login">
     <mat-card class="login-mat-card">
          <mat-card-title class="login-mat-card-title">
               Recuperar clave
               <img src="../../../assets/images/sticker_mango2.png" alt="logo" class="login-img">
          </mat-card-title>
          <mat-card-content class="login-card-content">
               <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-login">
                    <mat-form-field class="login-mat-form-field">
                         <mat-label>Correo</mat-label>
                         <input matInput type="text" placeholder="correo@correo.com" formControlName="email">
                         <mat-error *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['required']">Este campo es requerido</mat-error>
                         <mat-error *ngIf="form.get('email')?.errors?.['email']">Ingrese un correo válido</mat-error>
                    </mat-form-field>
                    <div class="button">
                         <button [disabled]="form.status === 'INVALID'" mat-button color="color" type="submit" class="login-button">Recuperar clave</button>
                    </div>
                    <a routerLink="/login" class="login-a">Volver</a>
               </form>
          </mat-card-content>
     </mat-card>
</div>